{{#each cities as |city|}}
	<div class="col-md-3 col-md-offset-1 well">
		<h5>{{city.cityname}}</h5>
		<p>temperature: {{city.temp}}&deg; (min: {{city.temp_min}}&deg;, max: {{city.temp_max}}&deg;)</p>
		<p>{{city.description}}</p>
		<p>humidity: {{city.humidity}}%</p>
		<p>wind speed: {{city.windspeed}} m/s</p>
		<p>pressure: {{city.pressure}}</p>
		<button class="btn btn-danger" {{action "removeCity" city}}>Remove</button>						
	</div>
{{/each}}
{{yield}}
