<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/">EmberJS application.</a>
	  </div>
	  <div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
	      <li>
					{{#link-to 'index'}}
				    About
				  {{/link-to}}
	      </li>
	      <li>
					{{#link-to 'weather'}}
				    Look a Weather
				  {{/link-to}}
	      </li>
	      <li>
					{{#link-to 'contact'}}
				    Contact
				  {{/link-to}}
	      </li>
	    </ul>
	  </div><!--/.nav-collapse -->
	</div>
</div>
{{yield}}
