{{main-header}}
<div class="container main-wrapper">  
  <div class="body">
    {{outlet}}
  </div>
</div>
<div class="container">
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Weather application. Powered by <a href="http://emberjs.com/">Ember JS</a>. Max Tsvetkov 2016</p>
            </div>
        </div>
    </footer>
</div>
