<div class="container" id="contact-page">
	<div class="row-fluid">
        <div class="col-md-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2301.6485760489527!2d20.449602615892598!3d54.76856528030167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e33ef757994b07%3A0xc6de7a2fc8077f20!2z0YPQuy4g0JvRg9C60LDRiNC-0LLQsCwg0JrQsNC70LjQvdC40L3Qs9GA0LDQtCwg0JrQsNC70LjQvdC40L3Qs9GA0LDQtNGB0LrQsNGPINC-0LHQuy4!5e0!3m2!1sru!2sru!4v1473283273858" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    	</div>
    	
      	<div class="col-md-4">
      		<div class="media">
				<img class="media-object img-responsive" src="assets/img/profile-photo.jpg" width="100px" alt="...">
				<div class="media-body">
					<h4 class="media-heading">Max Tsvetkov <small>Web-developer</small></h4>
					<p>Hello there. I'm glad to present my Ember-app. Please contact with me if You have something to say or advices how to make app better.</p>

					<h4>My skills:</h4>
					<div class="skills">
						<span class="label label-default">HTML/Jade</span>
						<span class="label label-primary">CSS/SCSS/SASS</span>
						<span class="label label-success">SCRUM-Agile</span>
						<span class="label label-info">Git/Mercurial</span>
						<span class="label label-warning">JavaScript/EmberJs/AngularLS</span>
						<span class="label label-danger">PHP/Yii2/Laravel</span>
						<span class="label label-primary">MySQL, MongoDB, Oracle</span>
					</div>
				</div>									
			</div>    		
    		<address>
    			<strong><span class="glyphicon glyphicon-globe"></span> Kaliningrad, Russian Federation</strong><br>
    			<span class="glyphicon glyphicon-home"></span> 236000, 37-7 Lukashova Str.<br>    			
    			<span class="glyphicon glyphicon-envelope"></span> maxtsvetapple@gmail.com<br>
    			<span class="glyphicon glyphicon-earphone"></span><abbr title="Phone">+7 962 263 3876</abbr>   			
    		</address>
    	</div>
    </div>
</div>
{{outlet}}
