<div class="container" id="index-page">
    <div class="row">
        <div class="col-md-2" style="position: fixed;">
            <p class="lead">Page jumper:</p>
            <div class="list-group">
                <a href="#one" class="list-group-item">OpenWeatherMap</a>
                <a href="#two" class="list-group-item">Powered by Ember</a>
                <a href="#three" class="list-group-item">How to use</a>
            </div>
        </div>

        <div class="col-md-9 col-md-offset-3">
            <div class="thumbnail" id="one">
                <img class="img-responsive" src="assets/img/open-weather-map.jpg" alt="">
                <div class="caption-full">
                    {{#link-to "weather" class="pull-right btn btn-primary" }}
                    	Try free!
                    {{/link-to}}                    
                    <h4><a href="http://openweathermap.org/">OpenWheatherMap</a></h4>
                    <p>Get current weather in any city. It easy with my application based on external data with <a target="_blank" href="http://openweathermap.org/api">API - http://openweathermap.org/api</a>.</p>
                    <p>Want to compare weather for several cities? No problem! If You interested to look instance code visit 
                    <strong><a href="https://github.com/MaxFlower/Ember-weather">this repo</a>.
                    </strong> with Ember project.</p>
                    <p>The entire goal of writing software should be to create something that can last. I plan out applications so that they are properly documented, tested, scalable, and monitored. This leads to software systems that are resistant to the effects of overwhelming code debt, spaghetti code, and consistently having to be burned down and built back up.</p>
                    <hr>
                    <h4>Limitation for weather-service:</h4>
                    <ul>
                    	<li>Calls 10min: 600</li>
                    	<li>Calls 1day: 50,000</li>
                    	<li>Threshold: 7,200</li>
                    	<li>Hourly forecast: 5</li>
                    	<li>Daily forecast: 0</li>
                    </ul>
                    <hr>
                </div>                
                <div class="ratings">
                    <p class="pull-right">7 sep 2016</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>            
                        0 stars for repo.
                    </p>
                </div>
            </div>
            <div class="well" id="two">
                <div class="media">
				    <a class="pull-left" href="http://emberjs.com/" target="_blank" style="width: 200px;">
				        <img class="media-object img-responsive" src="assets/img/ember-getting-started-image.png" alt="...">
				    </a>
					<div class="media-body">
					    <h4 class="media-heading">Ember application.</h4>
					    <hr>
					    <h5>Ember : 2.7.2</h5>
						<h5>Ember Data : 2.7.0</h5>
						<h5>jQuery : 2.2.4</h5>	
					    <div class="text-right">
		                    {{#link-to "contact" class="pull-right btn btn-success" }}
		                    	Contact with me
		                    {{/link-to}}		                    	                    
		                </div>		                                
					</div>
					<hr>		
				</div>
				<div class="row">
                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            My Ember experience.
                            
                            <p>Complited projects for TV system, for example Video on Demand application for large company.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            JavaScript                          
                            <p>I've already prepared to ask for your question!</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Backend
                            <p>I definitely recommend to ask me what I can to do for You.</p>
                    </div>
                </div>
            </div>

            <div class="well" id="three">
            	<div class="text-right">
            		{{#link-to "weather" class="btn btn-success" }}
		               	Let's start
		            {{/link-to}}                    
                </div>
                <hr>
                <h3>Step 1: Choose local format and type city name (for example, 'Paris' without btanches):</h3>
                <img class="media-object img-responsive" src="assets/img/choose-local-and-city.png" alt="...">
                <h3>Step 2: Have a look to results:</h3>
                <img class="media-object img-responsive" src="assets/img/have-look-result.png" alt="...">
                <div class="text-center">
                	<a href="#index-page" class="btn-link"><span class="glyphicon glyphicon-arrow-up"></span> Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{outlet}}
