<div class="container">	
	<div class="row">	    
		<div class="col-md-3 well" style="min-height: 400px; margin-right: 10px;">
			<h4>Select local format for output:</h4>
			<div class="btn-group">
				{{#each localArray as |local|}}
				    <button type="button" class="btn {{if local.isActive 'btn-primary' 'btn-default'}}" {{action "setLocal" local.lang}}>
				    	<img src={{local.img}} alt="...">
				    </button>
			    {{/each}}			    
			</div>
			<form>
			  <div class="form-group">
			    <label for="city">City:</label>
			    {{input type="text" class="form-control" id="city" value=city placeholder="London"}}			    
			  </div>			  
			  <button type="submit" class="btn btn-primary" {{action "add" city}}>Add</button>
			</form>
		</div>
		<div class="col-md-8 well" style="min-height: 400px;">
			<div class="container-fluid">
				{{city-weather cities=cityArray remove="remove"}}		
			</div>		  
		</div>
	</div>
</div>
{{outlet}}
